{% extends "master.html" %}
{% block content %}
<h2>Catalog Food</h2>
<div class="row">
    <div id="existing-container" class="col-sm-5 col-lg-4 m-1 p-2 card" hidden>
        <form id="existing-form">
            <div id="select-group">
                <div class="form-group">
                    <h5>Existing Food</h5>
                    <label for="food">Food</label>
                    <select id="food" class="form-control">
                        <option value="No Food">No Food</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="food-category">Category</label>
                    <select id="food-category" class="form-control" disabled="true">
                    </select>
                </div>
                <div class="form-group">
                    <label for="food-description">Description</label>
                    <textarea id="food-description" class="form-control" readonly="true"></textarea>
                </div>
                <div id="options" class="form-group" hidden>
                    <button id="edit" type="button" onclick="InitEdit()" class="btn btn-primary">Edit</button>
                    <button id="delete" type="button" onclick="DeleteItem()" class="btn btn-danger">Delete</button>
                </div>
            </div>
            <div id="edit-group" hidden>
                <div class="form-group">
                    <h5>Edit Food</h5>
                    <label for="update-food">Food</label>
                    <input id="update-food" name="update-food" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="update-category">Category</label>
                    <select id="update-category" name="update-category" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="update-description">Description</label>
                    <textarea id="update-description" name="update-description" class="form-control"></textarea>
                </div>
                <div clas="form-group">
                    <button type="button" onclick="EditItem()" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-5 col-lg-4 m-1 p-2 card">
        <form id="new-form" method="POST" action="/api/v1/food">
            <div class="form-group">
                <h5>New Food</h5>
                <label for="food">Name</label>
                <input id="insert-name" name="insert-name" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <label for="categories">Categories</label>
                <select id="insert-category" name="insert-category" class="form-control">
                    <option value="No Categories">No Categories</option>
                </select>
            </div>
            <div class="form-group">
                <label for="insert-description">Description</label>
                <textarea id="insert-description" name="insert-description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button id="add" type="submit" class="btn btn-primary">Insert</button>
            </div>
            <!-- Tells the API to render the template instead of returning JSON -->
            <input type="hidden" name="render-html" />
        </form>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(FetchAllFood(),
        FetchCategories(),
        $('#food').change(function () {
            $.ajax({
                type: 'GET',
                url: '/api/v1/food/' + $('#food').find(':selected').val(),
                success: async function (result) {
                    var getCategory = await FetchCategory(result.food.category_id);
                    var category = getCategory.category;
                    if (category) {
                        let items = [];
                        // $.each(result.food, (key, value) => {
                        //     items.push('<option value="' + value.id + '">' + value.name + '</optoin>');
                        // });
                        $('#food-description').text(result.food.description)
                        // $('#food').html(items.join(''));
                        $('#food-category').html('<option value="' + category.id + '">' + category.category + '</optoin>')
                    } else {
                        console.log("No food found. Add food to the database.")
                    }
                },
                statusCode: {
                    401: function () {
                        alert('Not authorized. Please login');
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert("There was a problem fetching the food.");
                }
            });
        }));

    function FetchAllFood() {
        $.ajax({
            type: 'GET',
            url: '/api/v1/food',
            processData: false,
            success: async function (result) {
                var getCategory = await FetchCategory(result.food[0].category_id);
                var category = getCategory.category;
                if (result) {
                    if (result.food.length > 0) {
                        let items = [];
                        $.each(result.food, (key, value) => {
                            items.push('<option value="' + value.id + '">' + value.name + '</optoin>');
                        });
                        $('#food-description').text(result.food[0].description)
                        $('#food').html(items.join(''));
                        $('#existing-container').attr('hidden', false);
                        $('#options').attr('hidden', false);
                        $('#food-category').html('<option value="' + category.id + '">' + category.category + '</optoin>')
                    }
                } else {
                    console.log("No food found. Add food to the database.")
                }
            },
            statusCode: {
                401: function () {
                    alert('Not authorized. Please login');
                }
            },
            error: function (err) {
                console.log(err);
                alert("There was a problem fetching the food.");
            }
        });
    }

    function FetchCategory(id) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                type: 'GET',
                url: '/api/v1/categories/' + id,
                success: function (results) {
                    resolve(results)
                },
                statusCode: {
                    401: function () {
                        alert('Not authorized. Please login');
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert("There was a problem fetching the category.");
                    reject(err);
                }
            });
        });
    }

    function FetchCategories() {
        $.ajax({
            type: 'GET',
            url: '/api/v1/categories',
            processData: false,
            success: function (result) {
                if (result.categories.length > 0) {
                    let items = [];
                    $.each(result.categories, (key, value) => {
                        items.push('<option value="' + value.id + '">' + value.category + '</optoin>');
                    });
                    $('#insert-category').html(items.join(''));
                    $('#update-category').html(items.join(''));
                } else {
                    alert("No Categories exist. Create some before adding food.");
                }
            },
            statusCode: {
                401: function () {
                    alert('Not authorized. Please login');
                }
            },
            error: function (err) {
                console.log(err);
                alert("There was a problem fetching the categories.");
            }
        });
    }

    function InitEdit() {
        $('#update-food').val($('#food').find(':selected').text());
        $('#update-category').val($('#food-category').find(':selected').val());
        $('#update-description').val($('#food-description').text());

        $('#select-group').attr('hidden', true);
        $('#edit-group').attr('hidden', false);
    }

    function EditItem() {
        var selected = $('#food').find(':selected')

        $.ajax({
            type: 'PUT',
            url: '/api/v1/food/' + selected.val(),
            data: $('#existing-form').serialize(),
            success: function (results) {
                console.log("Update successful.");
                FetchAllFood();
                $('#select-group').attr('hidden', false);
                $('#edit-group').attr('hidden', true);
            },
            statusCode: {
                401: function () {
                    alert('Not authorized. Please login');
                }
            },
            error: function (err) {
                console.log(err);
                alert("There was a problem updating the food.");
            }
        });
    }

    function DeleteItem() {
        if (!confirm("Are you sure?")) {
            return false;
        }

        var selected = $('#food').find(':selected')

        $.ajax({
            type: 'DELETE',
            url: '/api/v1/food/' + selected.val(),
            success: function (results) {
                console.log("Delete successful.");
                FetchAllFood();
            },
            statusCode: {
                401: function () {
                    alert('Not authorized. Please login');
                }
            },
            error: function (err) {
                console.log(err);
                alert("There was a problem deleting the food.");
            }
        });
    }
</script>
{% endblock %}