<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Food Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'main.css') }}">
    <script src="//apis.google.com/js/platform.js"> </script>

</head>

<body>
    <header class="toolbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Food Catalog</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!-- Add each category here -->
                    <a class="nav-item nav-link text-white" href="/categories">Categories</a>
                    <a class="nav-item nav-link text-white" href="/food">Food</a>
                </div>
            </div>
            {% if session.get('gplus_id') is not none %}
            <a href="/gdisconnect" class="btn btn-outline primary border border-primary">Logout</a>
            {% elif session.get('facebook_id') is not none %}
            <a href="/fbdisconnect" class="btn btn-outline primary border border-primary">Logout</a>
            {% else %}
            <a href="/login" class="btn btn-outline primary border border-primary">Login</a>
            {% endif %}
            <!-- <button class="btn btn-outline-primary" type="button">
                Login
            </button> -->
        </nav>
    </header>
    <main class="container-fluid w-100 h-100">
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        {% block js %}
        {% endblock %}
</body>

</html>